pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "table",
					"value": {
						"value": "@json('[\n   {\n      \"schema\":\"finance\",\n      \"schema2\":\"dbo\",\n      \"tabla\":\"LogisticsAddressCountryRegionStaging\",\n      \"pk_integracion\":\"COUNTRYREGION\"\n   },\n   {\n      \"schema\":\"finance\",\n      \"schema2\":\"dbo\",\n      \"tabla\":\"PaymTermInvoiceStaging\",\n      \"pk_integracion\":\"DATAAREAID\"\n   },\n   {\n      \"schema\":\"finance\",\n      \"schema2\":\"dbo\",\n      \"tabla\":\"UFTProjInvoiceJourStaging\",\n      \"pk_integracion\":\"DATAAREAID\"\n   },\n   {\n      \"schema\":\"finance\",\n      \"schema2\":\"dbo\",\n      \"tabla\":\"aqs_canton\",\n      \"pk_integracion\":\"Codigo\"\n   },\n   {\n      \"schema\":\"finance\",\n      \"schema2\":\"dbo\",\n      \"tabla\":\"aqs_cliente\",\n      \"pk_integracion\":\"IdClienteCrm\"\n   }\n]')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('table')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema1": {
				"type": "array",
				"defaultValue": [
					"finance"
				]
			},
			"schema2": {
				"type": "array",
				"defaultValue": [
					"dbo"
				]
			}
		},
		"variables": {
			"table": {
				"type": "Array",
				"defaultValue": [
					"LogisticsAddressCountryRegionStaging",
					"PaymTermInvoiceStaging",
					"UFTProjInvoiceJourStaging",
					"aqs_canton",
					"aqs_cliente"
				]
			}
		},
		"annotations": []
	}
}